body {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    --black: #0e0e0e;
    --lgrey: #7a94a4;
    --grey: #897224;
    --white: #f8f8ff;
    --blue: #18548B;
    --brown: #ac4a0a;
    --gray: #f2f2f2;
    background-color: #fafafa;
}

a.white {
    color: var(--white);
}

a {
    color: #0f0f26;
}

.bg-blue {
    background-color: var(--black) !important;
}

.bg-grey {
    background-color: var(--lgrey) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.text-blue {
    color: var(--blue);
}

.text-brown {
    color: var(--brown);
}

.main {
    padding-top: 4px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

.smlogo {
    background: none;
    display: inline-block;
}

.mycluster {
    width: 35px;
    height: 35px;
    text-align: left;
    font-size: 17px;
    background: url('/node_modules/leaflet/dist/images/marker-shadow.png') repeat-y right bottom;
    background-size: 25px 37px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--brown);
}

.navbar {
    background: linear-gradient(to right, #0A2239 33%, #123F68 66%, #18548B 100%);
}

footer {
    background: linear-gradient(to right, #18548B 33%, #123F68 66%, #0A2239 100%);
}

.url {
    width: 300px;
    max-width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    /*display: inline-block;*/
    white-space: nowrap;
}

.name {
    width: 300px;
    max-width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.bigwrapper:hover .fa-ani a {
    color: #18548B;
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: all .2s ease-in-out;
}
.bigwrapper .fa-ani a {
    transition: all .2s ease-in-out;
    transition-delay: .1s;
    font-size: 4em;
}

.bigwrapper{
    text-align: center;
    color: black;
}

.bignone{
    text-align: center;
    color: black;
}

.smallwrapper:hover a {
    color: #18548B;
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: all .2s ease-in;
}

.smallwrapper {
    text-align: center;
    color: black;
    width: 72px;
    height: 72px;
}

.smallwrapper a {
    /*color: #18548B;*/
    filter: invert(24%) sepia(61%) saturate(1394%) hue-rotate(182deg) brightness(91%) contrast(90%);
    transition: all .2s ease-in-out;
    transition-delay: .1s;
    font-size: 2.1em;
}
#map {
    height: 700px;
}

.smallnone {
    text-align: center;
    color: black;
    width: 36px;
    height: 36px;
}

.iconselected a {
     filter: hue-rotate(190deg) drop-shadow(8px 8px 10px var(--brown));
}

.iconnotselected a {
    color: black;
}

.icon1 {
    font-size: 1.4em;
    opacity: 0.7;
    cursor: help;
    margin-left: 9px;
    text-decoration: none;
}

.accordion-button {
    background-color: #18548B !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #18548B;
}

.columnSelectorWrapper {
    position: relative;
    display: none;
}

.columnSelector, .hidden {
    display: none;
}

#colSelect1:checked ~ #columnSelector {
    display: block;
}

.columnSelector {
    width: 290px;
    position: absolute;
    top: 40px;
    padding: 10px;
    background: #fff;
    border: #000 1px solid;
    border-radius: 5px;
    z-index: 1400;
    right: 1px;
}

.columnSelector label {
    display: inline-flex;
}

.columnSelector label:nth-child(1) {
    border: #000 solid 1px;
}

.columnSelector input {
    margin: 5px;
}

.columnSelector .disabled {
    color: #ddd;
}
